<% content_for :page_title do %>
  <%= Spree.t("combinationlayout.combination_layout") %>
<% end %>

<% content_for :page_actions do %>
  <ul class="actions inline-menu">
    <li>
      <%= button_link_to Spree.t(:back), admin_combination_layouts_url, { :icon => 'arrow-left', :id => 'admin_combination_layouts_url' } %>
    </li>
  </ul>
<% end %>

<%= render :partial => 'form' %>