<p>親愛的管理員，您好：</p>

<p>訂單編號：<%= @order.number %>，會員已填寫帳號後五碼囉，快回來<a href="http://www.ladybootw.com/admin" target="_blank">後台</a>管理吧！</p>

<p>注意事項：</p>
<p>此信件為系統自動寄送，勿直接回覆此信件</p>

<p> LadyBoo網站： ​http://www.ladybootw.com/<p>